<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/s21_db</property>
        <property name="hibernate.connection.username">getname</property>
        <property name="hibernate.connection.password">4002</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <property name="show_sql">true</property>

<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="default_schema">public</property>
    </session-factory>
</hibernate-configuration>